---
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
<footer>
    <Social platform="facebook" username="profile.php?id=100094489470588" />
    <Social platform="Github" username="tahaamin2013" />
    <Social platform="Youtube" username="@eschool-englishlessonsthro528?si=n4CRwyYprsPF-qjj" />
<p>Powered by Canals Technologies</p>
  </footer>